# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Datasets (grandes, ficam fora do Git)
data/dataset/*
!data/dataset/README.md

# Sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dados gerados localmente pela aplicação
src/monitoramento_bois.db
src/fotos_pesagens/

# Node
node_modules/
.expo/
*.apk
*.aab

# App desenvolvimento
desenvolvimento-apk/dist/
desenvolvimento-apk/node_modules/
desenvolvimento-apk/ml-service/venv/
desenvolvimento-apk/ml-service/__pycache__/
desenvolvimento-apk/ml-service/models/